<div class="wrapper">
  
          <nav id="sidebar">
              <!-- Sidebar Header -->
              <div class="sidebar-header">
                  <h3>HEAD</h3>
                  <strong>Subhead</strong>
              </div>
  
              <!-- Sidebar Links -->
              <ul class="list-unstyled components">
                  <li class="active">
                      <a href="/" data-toggle="collapse" aria-expanded="false">
                          <i class="glyphicon glyphicon-home"></i>
                          Apertura
                      </a>
                  </li>
                  <li>
                      <a href="publish" data-toggle="collapse" aria-expanded="false">
                          <i class="glyphicon glyphicon-duplicate"></i>
                          Desarrollo
                      </a>
                      <ul class="collapse list-unstyled" id="pageSubmenu">
                          <li><a href="#">Presentación</a></li>
                          <li><a href="#">Aplicación</a></li>
                      </ul>
                  </li>
                  <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        Cierre
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#">Sintesís</a></li>
                        <li><a href="#">Evaluación</a></li>
                    </ul>
                </li>
              </ul>
          </nav>
  
          <div id="content">
              
            </div>
  </div>
  