
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.icon{
    width: 80px;
    height: auto;
    margin: 20px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0971b6;
    color: #fff;
    transition: all 0.3s;

    right: auto !important;
    left: 0 !important;
    border-width: 0 1px 0 0 !important;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0971b6;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0971b6;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0971b6;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #0971b6 !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 1076px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.head{
    width: auto;
    height: auto;
    background-color: ;
}

.elemento{
    border: 1px solid black;
    border-radius: 8px;
    padding-bottom: 80px;
    margin: 20px;

}

.margin{
    margin: 10px;
    
}
.button {
    position: absolute;
    right: 10%;
    margin: 10px;
}

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: rgb(182, 182, 182);
    line-height: 200px;
    text-align: center
  }

  .upload-drop-zone {
    margin-top: 40px;
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
  }
  

  /*
Flip card
*/
.card-flip {
    
       background: none;
       border: none;
       padding: 0;
    
       .card {
          backface-visibility: hidden;
          transition: transform 300ms;
          transition-timing-function: linear;
          width: 100%;
          height: 100%;
          margin: 0;  
       }
    
       .card:first-of-type {
          tranform: rotateY(0deg);
       }
    
       .card:last-of-type {
          transform: rotateY(180deg);
          // Put this in face with the larger content
          position: absolute;
          top: 0;
          display: flex;
       }
    
       &:hover {
          .card:first-of-type  {
             transform: rotateY(-180deg);
          }
          .card:last-of-type {
             transform: rotateY(0deg);
          }
       }
    
    }

    .card-title {
        max-width: 100%; 
        font-size: 4vw;
      }
      
      .card-img,
      .card-img-top,
      .card-img-bottom {   
         min-width: 100%;
         height: 38vh;
         min-height: 38vh;
      }
      
      .text-white .card-img {
         filter: brightness(75%) saturate(50%);
      }
      