<div class="container-fluid backg">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 centered formcourse">
          
          <h1 class="course">Crea tu curso</h1>
          <hr>
          <form (ngSubmit)="onSubmit()" #course="ngForm" class="formstyle">
            <div class="form-group">
              <label for="courseName">Nombre del Curso</label>
              <input type="text" class="form-control" id="courseName" required [(ngModel)]="course.courseName" name="courseName" placeholder="Ingresa el Nombre del Curso...">
            </div>

            <div class="form-group">
              <label for="professor">Nombre del Profesor</label>
              <input type="text" class="form-control" id="professor" required [(ngModel)]="course.professor" name="professor"  placeholder="Ingresa el Nombre del profesor...">
            </div>
    
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" required [(ngModel)]="course.email" name="email"  placeholder="Ingresa tu correo electrónico...">
            </div>
          </form>
          <hr>
          <button type="submit" class="center-block btn btn-creation" (click)="newCourse();" routerLink="/creator">Crear</button>
      </div>
      <div class="col-md-3"></div>
     </div>
   </div>
</div>
